<nav class="navbar navbar-expand-lg navbar-light bg-light"
     style=" position: fixed; top: 0; left: 0; width: 100%; z-index: 1001; ">
  <div class="container-fluid">
    <a class="btn navbar-brand" (click)="home()">Report Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <button *ngIf=" ! inLogin; else show_info" class="btn btn-outline-success" (click)="_navigateToLogin()">Đăng
        nhập
      </button>
      <ng-template #show_info>
        <ul class="navbar-nav ms-auto mb-lg-0 profile-menu">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <div class="profile-pic">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
                  <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"/>
                  <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"/>
                </svg>
                {{ user.username }}
                <svg class="show-only-mt" (click)="logout()" style=" position: absolute; right: 20px; top: 12px; "
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                     stroke="currentColor" width="20" height="20">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5.636 5.636a9 9 0 1 0 12.728 0M12 3v9"/>
                </svg>
              </div>
            </a>
            <ul class="hide-only-mt dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li *ngIf="user.username == 'admin'" (click)="register()"><a class="dropdown-item"><i
                class="fas fa-sliders-h fa-fw"></i> Tạo người dùng</a></li>
              <li *ngIf="user.username == 'admin'" (click)="userManager()"><a class="dropdown-item"><i
                class="fas fa-sliders-h fa-fw"></i> Quản lý người dùng</a></li>
              <li (click)="logout()"><a class="dropdown-item"><i class="fas fa-sign-out-alt fa-fw"></i> Thoát</a></li>
            </ul>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
