<app-top-menu (navigateToLogin)="navigateToLogin()"></app-top-menu>
<div class="container" *ngIf="this.user.username === 'admin'">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="mt-5 mb-3 card">
        <div class="card-header text-center">
          <h4>TẠO NGƯỜI DÙNG MỚI</h4>
        </div>
        <div class="card-body">
          <form (submit)="createAccount($event,username,password, password_confirmation,name)">
            <div class="mb-3">
              <label for="name" class="form-label">Họ và tên</label>
              <input id="name" type="text" class="form-control" #name placeholder="Họ và tên">
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Tài khoản</label>
              <input type="text" id="username" class="form-control" #username placeholder="Username">
            </div>
            <div class="mb-3" style=" position: relative; ">
              <label for="password" class="form-label">Mật khẩu</label>
              <input type="password" id="password" class="form-control" #password placeholder="Mật khẩu"
                     style="padding-right: 35px;">
              <svg class="eye-hide d-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke-width="1.5" stroke="currentColor" width="22" height="22"
                   style=" position: absolute; right: 8px; top: 58%; ">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
              <svg class="eye-show" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke-width="1.5" stroke="currentColor" width="22" height="22"
                   style=" position: absolute; right: 8px; top: 58%; ">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"/>
              </svg>
            </div>
            <div class="mb-3" style=" position: relative; ">
              <label for="password_confirmation" class="form-label">Xác nhận lại mật khẩu</label>
              <input type="password" id="password_confirmation" class="form-control" #password_confirmation
                     placeholder="Xác nhận mật khẩu">
            </div>
            <div class="d-grid mt-3">
              <button *ngIf="inProcess; else login_template" class="spinner-border" role="tab">
                <span class="visually-hidden">Đang tải....</span>
              </button>
              <ng-template #login_template>
                <button type="submit" class="btn btn-primary">Tạo người dùng</button>
              </ng-template>
            </div>
          </form>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <a style="font-weight: 600;color: #123456;font-size: 14px;" (click)="listUsers()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" width="20" height="20" style="position: relative; top: -2px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
          </svg>
          Danh sách người dùng</a>
        <a style="font-weight: 600;color: #123456;font-size: 14px;margin-right: 12px;" (click)="home()">
          Về trang chủ
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" width="20" height="20" style="position: relative; top: -2px;">
            <path stroke-linecap="round" stroke-linejoin="round" d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
